.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
  flex-grow: 1;
}

.pokemon-grid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pokemon-grid__search-form {
  position: sticky;
  top: 1rem;
  z-index: 1000;
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  transition: 300ms all;
}

.pokemon-grid__search-form--active {
  flex-grow: 0;
}

.pokemon-grid__search-results {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  transition: 300ms all;
  grid-auto-rows: min-content;
}

.pokemon-grid__search-button {
  background-color: var(--color-primary);
  border-radius: var(--rounded-md);
  border: none;
  color: white;
  padding: 1.1rem 2.1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition: 300ms all;
}

.pokemon-grid__search-button:hover {
  background-color: var(--color-primary-dark);
}

.loader {
  z-index: 10000;
  background-image: url('../../../public/vanilluxe.png');
  width: 100px;
  height: 100px;
  animation: 3s spin-and-grow infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.75;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
}

@keyframes spin-and-grow {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }

  33% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }

  66% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1.2);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}
