.Input__label {
  position: relative;
}

.Input__label-text {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 1rem;
  cursor: text;
  transition: 300ms all;
}

.Input__label:focus-within .Input__label-text,
.Input__label-text:not(:placeholder-shown) {
  color: black;
  top: -25%;
  font-size: 0.75rem;
}

.Input {
  padding: 1rem;
  border-radius: var(--rounded-md);
  border: 1px solid gray;
  font-size: 1rem;
  font-family: Roboto;
}
