:root {
  --rounded-sm: 4px;
  --rounded-md: 8px;
  --rounded-lg: 16px;

  --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  --color-normal: #9e9e9e;
  --color-fighting: #d32f2f;
  --color-flying: #5c6bc0;
  --color-ground: #795548;
  --color-rock: #5d4037;
  --color-bug: #689f38;
  --color-ghost: #6a1b9a;
  --color-steel: #455a64;
  --color-dark: #212121;
  --color-dragon: #1a237e;
  --color-psychic: #ba68c8;
  --color-water: #2196f3;
  --color-ice: #80deea;
  --color-fire: #fb8c00;
  --color-electric: #fbc02d;
  --color-grass: #43a047;
  --color-poison: #7b1fa2;
  --color-fairy: #f06292;

  --color-primary-light: #ff6659;
  --color-primary: #d32f2f;
  --color-primary-dark: #9a0007;

  --color-primary-transparent: rgba(211, 47, 47, 0.25);
  --color-primary-dark-transparent: rgba(154, 0, 7, 0.15);

  --color-secondary-light: #ffffff;
  --color-secondary: #ffffff;
  --color-secondary-dark: #cccccc;

  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #e0e0e0;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #9e9e9e;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #212121;
}

html {
  box-sizing: border-box;
  background-color: var(--color-secondary-dark);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.filter-modal {
  background-color: white;
  padding: 2rem;
  border-radius: var(--rounded-md);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20000;
}

.filter-modal__heading {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
